{% extends "base.html" %}


{% block content %}
    <h1>Index</h1>
    <div class="d-flex flex-wrap">
        {% for product in products %}
            <div class="card ms-2 mb-4" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ product.price }}</h6>
                <p class="card-text">{{ product.description }}</p>
                <a href="#" data-product="{{ product.id}}" data-action="add" class="btn btn-primary update-cart">Add to cart</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
